<!DOCTYPE html>
<html>

<head>
  <title>Course Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
  {% if errorMsg %}
  <div class="error-msg">
    {{errorMsg}}
  </div>
  {% endif %}
  {% if successMsg %}
  <div class="success-msg">
    {{successMsg}}
  </div>
  {% endif %}
  <div class="section-page">
    <pagetitle>Admin Sign Up</pagetitle>
    <div class="login-page">
      <form method="POST" action="{{ url_for('student.sign_up') }}" class="course-edit">
        <input type="text" placeholder="Username" id="username" name="username" />
        <input type="text" placeholder="Name" id="name" name="name" />
        <input type="text" placeholder="Password" id="password" name="password" />
        <div class="buttons-container-edit">
          <input type="submit" value="Sign Up" class="open-btn-large" />
          <a href="{{ url_for('app_blueprint.login_view')}}" class="closed-btn-large">
            Back to Log In
          </a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>