{% extends 'base.html' %} {% block container %}
<div>
    <pagetitle>My Courses</pagetitle>
    <div>
        <form>
            <div class="input-box">
                <input type="text" placeholder="Search courses..." id="searchterm" name="searchterm" />
                <input type="submit" value="Search" class="search-btn" />
            </div>
        </form>
    </div>
    <div class="top-buttons-container">
        <a href="{{url_for('app_blueprint.create_course_view')}}" class="open-btn">
            + Add Course
        </a>
    </div>
    <div class="course-list">
        {% for course in courses %}
        <course>
            {% include '_course.html' %}
            <div class="buttons-container">
                <a href="{{url_for('app_blueprint.course_view', course_id=course._id)}}" class="open-btn">
                    View Sections
                </a>
                <a href="{{url_for('app_blueprint.edit_course_view', course_id=course._id)}}" class="open-btn">
                    Edit Details
                </a>
                <form method="POST" action="{{ url_for('admin.remove_admin_course', course_id=course._id) }}">
                    <input type="submit" value="Delete Course" class="delete-btn" />
                </form>
            </div>
        </course>
        {% endfor %}
    </div>
</div>
{% endblock %}