<!DOCTYPE html>
<html>

<head>
  <title>Course Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
  <div>
    {% if displayMsg != None %}
    {% if isError %}
    <div class="error-msg">
      {{displayMsg}}
    </div>
    {% else %}
    <div class="success-msg">
      {{displayMsg}}
    </div>
    {% endif %}
    {% endif %}
    <header>
      <a href="{{ url_for('app_blueprint.login_view')}}" class="open-btn">
        Log Out
      </a>
    </header>
    <main>{% block container %} {% endblock %}</main>
    <footer>
      <a href="{{ url_for('app_blueprint.home_view') }} " class="footer-container">
        <img src="{{ url_for('static', filename='images/home.svg') }}" alt="home" class="footer-icon">
      </a>
      {% if not admin %}
      <a href="{{ url_for('app_blueprint.course_search_view') }}" class="footer-container">
        <img src="{{ url_for('static', filename='images/search.svg') }}" alt="search" class="footer-icon">
      </a>
      <a href="{{ url_for('app_blueprint.shopping_cart_view') }}" class="footer-container">
        <img src="{{ url_for('static', filename='images/shopping-cart.svg') }}" alt="shopping cart" class="footer-icon">
      </a>
      {% endif %}
    </footer>
  </div>
</body>

</html>