{% extends 'base.html' %} {% block container %}
<div class="section-page">
    <a href="{{ url_for('app_blueprint.course_search_view') }}" class="back-icon-container">
        <img src="{{ url_for('static', filename='images/arrow-left-circle.svg') }}" alt="left arrow" class="back-icon">
    </a>
    <span class="section-course-code">{{course.courseID}}</span>
    <pagetitle>{{course.name}}</pagetitle>
    <span class="course-description">
        {{course.description}}
    </span>
    <div class="course-list">
        {% for section in sections %}
        <course>
            {% include '_section.html' %}
            <div class="buttons-container">
                <form method="POST" action="{{ url_for('student.add_to_cart') }}">
                    <input type="hidden" id="section_id" name="section_id" value="{{section._id}}" />
                    <input type="submit" value="Add to Cart" class="dark-purple-btn" />
                </form>
                {% if section.students|length >= section.capacity %}
                <div class="closed-btn">
                    Waitlist ({{section.waitlist|length}})
                </div>
                {% endif %}
            </div>
        </course>
        {% endfor %}
    </div>
</div>
{% endblock %}