{% extends 'base.html' %} {% block container %}
<div class="section-page">
    <a href="{{url_for('app_blueprint.course_view', course_id=course._id)}}" class="back-icon-container">
        <img src="{{ url_for('static', filename='images/arrow-left-circle.svg') }}" alt="left arrow" class="back-icon">
    </a>
    <span class="section-course-code">{{course.courseID}}</span>
    <pagetitle>{{course.name}}</pagetitle>
    <div>
        <form method="POST" action="{{ url_for('admin.add_course_section', course_id=course._id)}}" class="course-edit">
            <span class="edit-title">Create Section</span>
            <input type="text" placeholder="Instructor Name" id="professor" name="professor" />
            <input type="text" placeholder="Section #" id="name" name="name">
            <input type="text" placeholder="Student Capacity" id="capacity" name="capacity" />
            <div class="edit-date">
                <div class="edit-days">
                    <span class="day-title">Section Days</span>
                    <div class="day">
                        <input type="checkbox" id="days" name="days" value="Mo">
                        <span class="day-text">Mo</span>
                    </div>
                    <div class="day">
                        <input type="checkbox" id="days" name="days" value="Tu">
                        <span class="day-text">Tu</span>
                    </div>
                    <div class="day">
                        <input type="checkbox" id="days" name="days" value="We">
                        <span class="day-text">We</span>
                    </div>
                    <div class="day">
                        <input type="checkbox" id="days" name="days" value="Th">
                        <span class="day-text">Th</span>
                    </div>
                    <div class="day">
                        <input type="checkbox" id="days" name="days" value="Fr">
                        <span class="day-text">Fr</span>
                    </div>
                </div>
                <div class="edit-times">
                    <span class="day-title">Section Hours</span>
                    <input type="text" placeholder="Start (ex. 11:00 AM)" id="startTime" name="startTime" />
                    <input type="text" placeholder="End (ex. 12:15 PM)" id="endTime" name="endTime" />
                </div>
            </div>
            <div class="buttons-container-edit">
                <a href="{{url_for('app_blueprint.course_view', course_id=course._id)}}" class="closed-btn-large">
                    Cancel
                </a>
                <input type="submit" value="Create Section" class="open-btn-large" />
            </div>
        </form>
    </div>
</div>
{% endblock %}