{% extends 'base.html' %} {% block container %}
<div>
    <pagetitle>Shopping Cart</pagetitle>
    <div class="course-list">
        {% for section in sections %}
        <course>
            {% include '_courseSection.html' %}
            {% if section.students|length >= section.capacity %}
            <form method="POST" action="{{ url_for('student.add_course') }}">
                <input type="submit" value="Enroll in Waitlist ({{section.waitlist|length}})" class="dark-purple-btn" />
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('student.add_course') }}">
                <input type="submit" value="Enroll in Section" class="dark-purple-btn" />
            </form>
            {% endif%}
        </course>
        {% endfor %}
    </div>
</div>
{% endblock %}