{% extends 'base.html' %} {% block container %}
<div>
    <pagetitle>My Courses</pagetitle>
    <div class="course-list">
        {% for section in enrolled %}
        <course>
            {% include '_courseSection.html' %}
            <div class="buttons-container">
                <form method="POST" action="{{ url_for('student.remove_course') }}">
                    <input type="hidden" id="section_id" name="section_id" value="{{section._id}}" />
                    <input type="submit" value="Drop Course" class="dark-purple-btn" />
                </form>
            </div>
        </course>
        {% endfor %}
        {% for section in waitlist %}
        <course>
            {% include '_courseSection.html' %}
            <div class="buttons-container">
                <form method="POST"
                    action="{{ url_for('student.remove_waitlist')}}">
                    <input type="hidden" id="section_id" name="section_id" value="{{section._id}}" />
                    <input type="hidden" id="course_id" name="course_id" value="{{course._id}}" />
                    <input type="button" value="Leave Waitlist ({{section.waitlistPosition}})" class="waitlist-btn" />
                </form>
            </div>
        </course>
        {% endfor %}
    </div>
</div>
{% endblock %}