:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 160px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #491680;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-times {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.edit-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;

    color: #491680;
}

.day-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;

    color: #491680;
}

.edit-days {
    display: flex;
    flex-direction: column;
}

.edit-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;

    color: #491680;
}

.student-list-container {
    height: 50%;
    margin-top: 30px;
    overflow-y: scroll;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bold-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.regular-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.student-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-name-light {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    margin-top: 15px;
    margin-bottom: 0px;

    color: #491680;
}

.course-edit {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttons-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.buttons-container-edit {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons-container-student-list {
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-buttons-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.footer-container {
    width: 200px;
    height: 70px;
    display: flex;
}

.footer-icon {
    transform: scale(2.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.back-icon-container {
    width: 70px;
    height: 70px;
    display: flex;
    padding-bottom: 48px;
}


.back-icon {
    transform: scale(2.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

body {
    padding: 5rem;
}

pagetitle {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 80px;

    color: #491680;
}

.section-page {
    display: flex;
    flex-direction: column;
}

.section-course-code {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;

    color: #491680;
}

.course-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    margin-top: 5px;
    margin-bottom: 0px;

    color: #491680;
}

.course-professor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.course-description {
    margin-top: 7px;
}

.course-list {
    padding-top: 80px;
    padding-bottom: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.search-btn {
    background: #491680;
    border-radius: 15px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.course-btn-container {
    margin-top: 10px;
}

.open-btn {
    background: #491680;
    border-radius: 10px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.open-btn-large {
    background: #491680;
    border-radius: 10px;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.closed-btn-large {
    background: white;
    border-radius: 10px;
    height: 68px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    border: 6px solid #491680;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.dark-purple-btn {
    background: #491680;
    border-radius: 10px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.waitlist-btn {
    background: #9F85BA;
    border-radius: 10px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.closed-btn {
    background: white;
    border-radius: 10px;
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    border: 3px solid #491680;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

input[type=text] {
    border: 2px solid #A48ABF;
    border-radius: 30px;
    height: 60px;
    width: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #A48ABF;

    padding-left: 20px;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
}

textarea {
    border: 2px solid #A48ABF;
    border-radius: 30px;
    height: 500px;
    width: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #A48ABF;

    padding: 20px;
}

course {
    display: flex;
    flex-direction: column;
}

span,
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}