footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    height: 160px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: #491680;
}

.footer-container {
    width: 200px;
    height: 70px;
    display: flex;
}

.footer-icon {
    transform: scale(2.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

body {
    padding: 5rem;
}

h1 {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 80px;
    line-height: 30px;

    color: #491680;
}

.course-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    margin-top: 5px;
    margin-bottom: 0px;

    color: #491680;
}

.course-professor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.course-description {
    margin-top: 7px;
}

.course-list {
    padding-top: 80px;
    padding-bottom: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.search-btn {
    background: #491680;
    border-radius: 15px;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
}

.course-btn-container {
    margin-top: 10px;
}

.open-btn {
    background: #491680;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.dark-purple-btn {
    background: #491680;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.waitlist-btn {
    background: #9F85BA;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.closed-btn {
    background: white;
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    border: 3px solid #491680;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
}

.input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type=text] {
    border: 2px solid #A48ABF;
    border-radius: 30px;
    height: 60px;
    width: 70%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #A48ABF;

    padding-left: 20px;
}

course {
    display: flex;
    flex-direction: column;
}

span,
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }